# Backend API URL
VITE_API_URL=https://backfolio-backend-dtf4azfmgqh6d4b3.canadacentral-01.azurewebsites.net

# Auth0 Configuration
VITE_AUTH0_DOMAIN=dev-iobg5riagaafw7km.us.auth0.com
VITE_AUTH0_CLIENT_ID=702BrNIJ0blkNxJpV1MR86oPz87IaDGj
VITE_AUTH0_AUDIENCE=https://api.backfolio.io
VITE_AUTH0_REDIRECT_URI=http://localhost:3000
